
*.opendb
*.db
nvEncDXGIOutputDuplicationSample/.vs/
nvEncDXGIOutputDuplicationSample/packages/
nvEncDXGIOutputDuplicationSample/x64/
nvEncDXGIOutputDuplicationSample/DDATest_0.h264
nvEncDXGIOutputDuplicationSample/PresentTSLog.txt
